.CalculatedOrder {
  background-color: lightgrey;
  height: 100%;
  left: 0;
  filter: blur(0);
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.hidden {
  filter: blur(5px);
  left: -100%;
}

.CalculatedOrder > .buttons {
  margin: 0.5rem auto;
  width: 400px;
}
.CalculatedOrder > .buttons :first-child {
  margin-bottom: 0.5rem;
}
