.CalculatedOrder {
  background-color: lightgrey;
  filter: blur(0);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100vw;
}

.hidden {
  filter: blur(5px);
  left: -100%;
}

.calculated-order {
  margin: auto;
  width: 90%;
}
.calculated-order > .calculated-order__buttons {
  width: 50%;
  margin: 0.5rem auto;
}
.calculated-order > .calculated-order__buttons button {
  margin-bottom: 0.5rem;
}
